body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

/* Header CSS */
.header-grid{
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
}

.header-grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-flex-item{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    margin-top: 2rem;
    width: 10rem;
}

.header-logo-img{
    width: 100%;
}

.header-tagline{
    margin-top: 0;
}

/* Main Content CSS */

.main-content-grid{
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.main-content-grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-flex-item{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bond-image-box{
    width: 18rem;
}

.bond-image{
    width: 100%;
    border-radius: 100%;
}